//
//# sass base.scss base.css
// include in other scripts as necessary
header nav {
  display: block;
  position: absolute;
  right: 15px;
  top: 15px;
  a {
    color: inherit;
    text-decoration: none;
  }
}